{% extends 'Base.html' %}
{% load static %}
{% block content %}
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="main_container">

                    
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">Doctor Profile</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                </li>
                            </ol>
                        </div>
                    </div>

                 
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between doctor-info-details">
                                        <div class="d-flex left-content">
                                            <div class="media align-self-start">
                                                <img alt="image" class="rounded-circle shadow" width="90" src="{% if doctor.profile_pic %}{{ doctor.profile_pic.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                                                
                                            </div>
                                            <div id="info-media" data-csrf="{{csrf_token}}" data-id="{{doctor.id}}" data-url="{% url 'Management_system:create_rate' %}" class="media-body">
                                                <h2 class="mb-2">{{doctor.first_name}}</h2>
                                                <p class="mb-md-2 mb-sm-4 mb-2">{{doctor.specialist|default_if_none:""}}</p>
                                                <p class="mb-md-2 mb-sm-4 mb-2">
                                                    Availablitiy:{% if doctor.availability %}
                                                    <div class="badge badge-success">On</div> 
                                                    {% else %}
                                                    <div class="badge badge-danger">Off</div>
                                                    {% endif %}
                                                </p>
                                            
                                                <div id="ratings">
                                                    {% if has_rating ==  "True" %}
                                                        {% if myrate %}
                                                            {% include 'rating.html' %}
                                                        {% else %}
                                                            {% include 'total_rating.html' %}
                                                        {% endif %}
                                               
                                                    
                                                {% else %}
                                                <div class="star-review">
                                                    <i onclick="rate_doctor(1)" class="fa fa-star text-gray"></i>
                                                    <i onclick="rate_doctor(2)"  class="fa fa-star text-gray"></i>
                                                    <i onclick="rate_doctor(3)" class="fa fa-star text-gray"></i>
                                                    <i onclick="rate_doctor(4)" class="fa fa-star text-gray"></i>
                                                    <i onclick="rate_doctor(5)" class="fa fa-star text-gray"></i>
                                                </div>

                                                {% endif %}
                                                
                                               
                                                
                                                </div>

                                                <p id="totalrating" class="d-none mt-2"> Total Rating : {{total_rating}}</p> 
                                                <p id="myrating" class="d-none mt-2"> Total Rating : {{total_rating}}</p> 
                                                <p id="fromhere" class="d-none mt-2"></p> <br>

                                                {% if has_rating == "True" %}
                                                <p id="h_totalrating" class="mt-2"> Total Rating : {{total_rating}}</p> 
                                                {% if myrate %}
                                                <p id="h_myrating" class="mt-2"> Your Rating : <span id="rating-value" {{rate}}</p> <br>
                                                {% endif %}
                                                 {% else %}
                                                 <p id="first_to_rate" class="mt-2">Be the first to rate this doctor</p>
                                                 {% endif %}
                                                 {% if doctor.availability %}
                                                 <a class="btn btn-primary btn-small mt-3" href="{% url 'Management_system:appointment-form' doctor.id %}">
                                                    <i class="fa fa-calendar-check text-white"></i> 
                                                    Book Appointment </a>
                                                    {% else %}
                                                    <a class="btn btn-primary btn-small mt-3">
                                                        <i class="fa fa-calendar-check text-white"></i> 
                                                        Unavailable For Appointment</a>                                                    {% endif %}

                                               
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} <div class="btn-group btn-group-style-1">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                         <div class="dropdown-menu dropdown-menu-right">
                                            <div class="form-content">
                                                <a href="appointment.html">
                                                    <span class="ml-2">Appointment</span>
                                                </a>
                                            </div>
                                        </div> 
                                    </div> {% endcomment %}
                                </div>
                            </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="doctor-info-content">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card m-t-30">
                                            <div class="card-body">
                                          <div class="row">
                                              <div class="col-lg-6">
                                                <p><strong>Bio :</strong> {{doctor.bio}}</p>
                                                <p><strong>Hospital :</strong> {{doctor.working_hospital}}</p>
                                                <p><strong>Amount :</strong> {{doctor.amount}}</p>
                                                <p><strong>Mobile :</strong> {{doctor.mobile}}</p>
                                              </div>
                                              <div class="col-lg-6">
                                                <p><strong>specialist:</strong> {{doctor.specialist}}</p>
                                                <p><strong>Sex :</strong> {{doctor.sex}}</p>
                                              </div>
                                          </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>


    
    {% endblock %}

    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/doc_profile.js' %}"></script>
    {% endblock js %}